<div class="footer">
  <p>Obiectium - Open Source 1v1 Tournament System | <a href="https://github.com/IAmThermite/Obiectium">Github</a> | <a href="http://steamcommunity.com/id/Thermo-Nuclear/">Developer</a></p>
  <p>The Obiectium logo is Copyright &copy; Luke Honiss</p>
</div>
