<p class="title">About</p>
<div class="data">
  <p>Obiectium (ob-yeck-tee-um) is a simple tournament hosting system for 1v1 tournaments.</p>
  <p>Developer: <a href="http://steamcommunity.com/id/Thermo-Nuclear/">Thermite</a></p>
  <p><a href="https://github.com/IAmThermite/Obiectium">Github</a></p>
</div>