<p class="title">Obiectium Help</p>
<div class="data">
  <p class="subtitle">Tournaments</p>
  <p>Tournaments are the main competition pages.</p>
  <p>Here you will find information about the tournament including signup links, and also upcomming matches for that tournament.</p>
</div>

<div class="data">
  <p class="subtitle">Matches</p>
  <p>A match page outlines all the information for that match and can be used as the primary source of communication for the two players.</p>
  <p>After the match one of the players reports the scores and the other will have to confirm them.</p>
</div>

<div class="data">
  <p class="subtitle">Links</p>
  <p>If you need more help contact <a href="http://steamcommunity.com/id/Thermo-Nuclear/">the developer</a> on Steam.</p>
  <p>If bugs are found, contact the developer on Steam then post an issue on <a href="https://github.com/IAmThermite/Obiectium">Github</a> if required. On the Github you can also create feature requests on the <a href="https://github.com/IAmThermite/Obiectium/issues">issues</a> page.</p>
</div>