<p class="title">Games</p>
<% for(var i = 0; i < data.games.length; i++) { %>
  <div class="data" id="<%= data.games[i].name %>">
    <table>
      <tr>
        <td class="title"><a href="<%= data.games[i].url %>"><%= data.games[i].name %></a></td>
      </tr>
      <tr>
        <td><%= data.games[i].description %></td>
      </tr>
    </table>
  </div>
<% } %>